.mint {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.menu h2 {
  color: rgb(209, 152, 152);
}
.container {
  display: flex;

  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.picture {
  max-width: 30%;
}
.picture img {
  width: 100%;
}
.title {
  max-width: 100%;

  margin-bottom: 20px;
}
.title input {
  font-size: 40px;
  width: 100%;
  border: 2px solid #dddee6;
  padding: 10px;
  border-radius: 15px;
}
.text {
  max-width: 100%;
}
.text textarea {
  font-size: 30px;
  width: 100%;
  border: 2px solid #dddee6;
  padding: 10px;
  border-radius: 15px;
}
.mint h1 {
  margin-bottom: 20px;
  color: rgb(195, 195, 195);
}
.upload {
}
.button {
}
::-webkit-file-upload-button {
  color: #000000;
  border-radius: 10px;
  padding: 20px 30px;
  background-color: #b1cff4;
  margin-bottom: 40px;
}
::-webkit-file-upload-button:hover {
  background-color: #91bef6;
  color: #ffffff;
}
