.participation {
  width: 50%;
}
.col {
  box-sizing: border-box;
  /* width: 50%; */
  background-color: #ffffff;
  /* padding: 20px; */
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.participation h2 {
  color: rgb(209, 152, 152);
  text-align: right;
}
.image {
  width: 30%;
  border-radius: 20px;
}
.image img {
  width: 100% !important;
  height: auto !important;
  border-radius: 10px;
}
.content {
  display: flex;
  width: 69%;
  flex-direction: column;
}
.biddContainer {
  margin-bottom: 20px;
}
.timer {
  padding: 20px;
  border: 1px solid #eff2f5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background-color: #fafdff;
}
.info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: black;
  background-color: #fafdff;
  border-radius: 10px;
  border: 1px solid #eff2f5;
  height: 100%;
}
.title {
  margin-bottom: 20px;
}
.text {
  font-size: 25px;
}
