.bidd {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  /* display: flex; */
  z-index: 10;
}
.message {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.message h2 {
  color: rgb(209, 152, 152);
}
.col {
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffff;
  /* padding: 20px; */
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.image {
  width: 30%;
  border-radius: 20px;
}
.image img {
  width: 100% !important;
  height: auto !important;
  border-radius: 10px;
}
.content {
  display: flex;
  width: 69%;
  flex-direction: column;
}
.biddContainer {
  margin-bottom: 20px;
}
.timer {
  padding: 20px;
  border: 1px solid #eff2f5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background-color: #fafdff;
}
.info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: black;
  background-color: #fafdff;
  border-radius: 10px;
  border: 1px solid #eff2f5;
  height: 100%;
}
.title {
  margin-bottom: 20px;
}
.text {
  font-size: 25px;
}
