.col {
  box-sizing: border-box;
  height: auto;
  background-color: #ffffff;
  padding: 10px;
}
.container {
  position: relative;
}
.image {
  height: auto;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.fl {
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}
